<head>
    <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        $('input.timepicker').timepicker({ 'step': 15, 'scrollDefault': 'now' });
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>

<body>
    <button type="button" id="joinGameButton" onclick="joinExistingGame()">Join an Existing Game</button><br>
    <button type="button" id="createNewGameButton" onclick="createNewGame()">Create a New Game</button>

    <div id="joinExistingDiv" style="display:none;">
        <p>This is the join existing game div</p>
        <ul class="games"></ul>
    </div>

    <div id="createNewDiv" style="display:none;">
        <form id="createNewGameForm">
            <label for="gameName">Game Name</label><br>
            <input type="text" id="gameName" name="gameName" required=true/><br>
            <label for="startingCash">Starting Cash</label><br>
            <input type="text" id="startingCash" name="startingCash" required=true/><br>
            <label for="quantityOfStartingShares">Quantity of starting shares</label><br>
            <input type="text" id="quantityOfStartingShares" name="quantityOfStartingShares" required=true/><br>
            <label for="endGameAt">End game at</label><br>
            <input type="text" id="timepicker" name="timepicker" required=true/><br>
            <label for="digitalDice">Digital dice</label>
            <input type="checkbox" id="digitalDice" name="digitalDice" /><br>
            <input type="submit" id="submitButton" value="Submit" />
        </form>
    </div>

    <script type="text/javascript" src="joingame.js"></script>
</body>
